jsonrpc-server-spring/src/main/resources/META-INF/jsonrpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.jsonrpc.spring/schema/jsonrpc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://com.jsonrpc.spring/schema/jsonrpc">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interface" type="xsd:string" use="required" />
					<xsd:attribute name="ref" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:group name="serviceGroup">
		<xsd:sequence>
			<xsd:element ref="service" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	
	<xsd:attributeGroup name="serverAttributes">
		<xsd:attribute name="port" type="xsd:int" />
		<xsd:attribute name="pool-size" type="xsd:int" />
	</xsd:attributeGroup>


	<xsd:element name="server">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:group ref="serviceGroup"/>
					<xsd:attributeGroup ref="serverAttributes"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>