jsonrpc-client-spring/src/main/resources/META-INF/jsonrpc-client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.jsonrpc.spring/schema/jsonrpc-client"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://com.jsonrpc.spring/schema/jsonrpc-client">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="config">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="url" type="xsd:string" use="required" />
					<xsd:attribute name="connect-timeout" type="xsd:int"/>
					<xsd:attribute name="read-timeout" type="xsd:int"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interface" type="xsd:string" use="required"/>
					<xsd:attribute name="config" type="xsd:string"/>
					<xsd:attribute name="url" type="xsd:string"/>
					<xsd:attribute name="connect-timeout" type="xsd:int"/>
					<xsd:attribute name="read-timeout" type="xsd:int"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>